.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.width-80 {
  width: 80px;
}

.width-90 {
  width: 90px;
}

.width-100 {
  width: 100px;
}

.width-140 {
  width: 140px;
}

.width-260 {
  width: 260px;
}

.clear-fix {
  @extend %clearfix;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.w-e-toolbar {
  z-index: 100 !important;
}
